In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score

In [26]:
df = pd.read_csv("C:/Users/User/Desktop/cdac advance modules/pml lecture/class  practice/program_dataset/measurements2.csv")

TypeError: read_csv() got an unexpected keyword argument 'is_null'

In [9]:
df

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun
0,28.0,5.0,26,21.5,12,Others,E10,0,0,0
1,12.0,4.2,30,21.5,13,Others,E10,0,0,0
2,11.2,5.5,38,21.5,15,Others,E10,0,0,0
3,12.9,3.9,36,21.5,14,Others,E10,0,0,0
4,18.5,4.5,46,21.5,15,Others,E10,0,0,0
...,...,...,...,...,...,...,...,...,...,...
253,11.8,4.8,42,22.5,2,Others,SP98,0,0,0
254,13.0,6.2,32,22.5,4,Others,SP98,0,0,0
255,11.8,5.0,43,22.5,1,Others,SP98,0,0,0
256,27.1,5.0,69,22.5,8,Others,SP98,0,0,0
257,5.2,4.6,38,22.5,8,Others,SP98,0,0,0

In [10]:
df['gas_type'].unique()

array(['E10', 'SP98', 'NA'], dtype=object)

In [11]:
df['specials'].unique()

array(['Others', 'AC rain', 'AC', 'rain', 'AC snow', 'sun', 'NA', 'snow',
       'half rain half sun'], dtype=object)

In [12]:
df.loc[df['temp_inside']=='Others']='NA'

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   distance      258 non-null    object
 1   consume       258 non-null    object
 2   speed         258 non-null    object
 3   temp_inside   258 non-null    object
 4   temp_outside  258 non-null    object
 5   specials      258 non-null    object
 6   gas_type      258 non-null    object
 7   AC            258 non-null    object
 8   rain          258 non-null    object
 9   sun           258 non-null    object
dtypes: object(10)
memory usage: 20.3+ KB

In [15]:
df.isnull().sum()

distance        0
consume         0
speed           0
temp_inside     0
temp_outside    0
specials        0
gas_type        0
AC              0
rain            0
sun             0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   distance      258 non-null    object
 1   consume       258 non-null    object
 2   speed         258 non-null    object
 3   temp_inside   258 non-null    object
 4   temp_outside  258 non-null    object
 5   specials      258 non-null    object
 6   gas_type      258 non-null    object
 7   AC            258 non-null    object
 8   rain          258 non-null    object
 9   sun           258 non-null    object
dtypes: object(10)
memory usage: 20.3+ KB

In [14]:
df['temp_inside'].unique()

array(['21.5', '22.5', '21', '22', '20', 'NA', '20.5', '23', '23.5', '25',
       '24', '19'], dtype=object)

In [21]:
Z=df.drop(columns=['specials','gas_type'],axis=1)

In [22]:
Z

    distance consume speed temp_inside temp_outside AC rain sun
0       28.0     5.0    26        21.5           12  0    0   0
1       12.0     4.2    30        21.5           13  0    0   0
2       11.2     5.5    38        21.5           15  0    0   0
3       12.9     3.9    36        21.5           14  0    0   0
4       18.5     4.5    46        21.5           15  0    0   0
..       ...     ...   ...         ...          ... ..  ...  ..
253     11.8     4.8    42        22.5            2  0    0   0
254     13.0     6.2    32        22.5            4  0    0   0
255     11.8     5.0    43        22.5            1  0    0   0
256     27.1     5.0    69        22.5            8  0    0   0
257      5.2     4.6    38        22.5            8  0    0   0

[258 rows x 8 columns]

In [24]:
df[['distance', 'consume','speed','temp_inside','temp_outside','AC','rain','sun']] = df[['distance', 'consume','speed','temp_inside','temp_outside','AC','rain','sun']].apply(pd.to_numeric)

ValueError: Unable to parse string "NA" at position 169